.blogPost {
  padding: 20px;
  background-color: #efefef;
  margin-bottom: 40px;
  display: block; }
  .blogPost:after {
    content: "";
    display: table;
    clear: both; }
  .blogPost .blogTitle {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 -4px; }
  .blogPost article {
    line-height: 1.6em;
    font-size: 16px;
    overflow: hidden; }
  .blogPost .authorName {
    font-weight: bold;
    font-size: 1.4em;
    margin: 0 0 10px;
    color: #B44031; }

a.readMore {
  color: #B44031;
  font-weight: 800; }

@media screen and (max-width: 990px) {
  .blogPost {
    padding: 10px; }
    .blogPost .aboutImg {
      width: 50%;
      padding-left: 10px; }
    .blogPost .blogContent {
      width: 50%; } }

@media screen and (max-width: 768px) {
  .blogPost {
    padding: 20px; }
    .blogPost .aboutImg {
      width: 100%;
      padding: 0 0 20px;
      float: left; }
    .blogPost .blogContent {
      width: 100%;
      float: none; } }
