body {
  background-color: #f4f4f4; }

.carousel ol {
  list-style: none; }

.carousel img {
  width: 100%; }

.container .row .callToAction {
  margin-top: -100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative; }
  .container .row .callToAction a h2 {
    position: absolute;
    top: 40px;
    color: white;
    text-align: center;
    padding: 0 10px;
    font-weight: 700;
    font-size: 2.8rem; }

.container .row .callToAction1 {
  background-color: #2e2a43; }

.container .row .callToAction2 {
  background-color: #B44031; }

.container .row .callToAction3 {
  background-color: #687c83; }

.container .social .socialIcons {
  margin-bottom: 10px; }
  .container .social .socialIcons i {
    font-size: 3rem;
    padding: 0 10px;
    color: #B44031; }

.container .social .blog {
  margin: 50px 0;
  height: auto; }
  .container .social .blog:nth-child(1) {
    margin-top: 0; }
  .container .social .blog h2 {
    color: #767676; }
  .container .social .blog h4 {
    color: #333; }

.container .social .twitterHere {
  height: auto;
  background-color: #2e2a43;
  padding: 6px;
  border-radius: 10px;
  margin-bottom: 60px; }

@media (max-width: 768px) {
  .container .row .callToAction {
    margin-top: 20px;
    margin-bottom: 30px; }
  .container .social .twitterHere {
    margin: 0 10px;
    margin-bottom: 60px; } }
