* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
  color: #333; }

a {
  color: #B44031; }
  a:hover {
    color: #B44031; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6em; }

img {
  max-width: 100%; }

header {
  width: 100%;
  background-color: #2e2a43;
  color: #f4f4f4;
  padding: 10px 0; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header a {
    color: #f4f4f4;
    font-weight: bold; }
    header a:hover {
      color: #B44031; }
  header .logo {
    width: 35px;
    display: inline-block;
    padding-top: 10px; }
  header .logo-text {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding: 12px 0 0 10px;
    margin: 0; }
  header .logo-link {
    text-decoration: none; }
    header .logo-link:hover {
      text-decoration: none; }
  header .right-menu {
    float: right; }
    header .right-menu nav {
      float: left; }
      header .right-menu nav #menuIcon {
        display: none;
        font-size: 1.4em;
        padding: 19px; }
      header .right-menu nav ul {
        list-style: none;
        margin: 0; }
        header .right-menu nav ul li {
          padding: 20px;
          display: inline-block; }
          header .right-menu nav ul li a {
            text-decoration: none; }
            header .right-menu nav ul li a:hover, header .right-menu nav ul li a:active {
              text-decoration: none; }
    header .right-menu .weather {
      border-left: 1px solid #393453;
      padding-left: 15px;
      margin-top: 9px;
      float: right; }
      header .right-menu .weather .icon {
        margin-top: 5px;
        float: left; }
      header .right-menu .weather .weather-data {
        margin-left: 10px;
        float: right; }
        header .right-menu .weather .weather-data p {
          margin: 0;
          padding: 0; }
          header .right-menu .weather .weather-data p.day {
            margin-bottom: -5px; }
          header .right-menu .weather .weather-data p.temperature {
            font-size: 1.2em;
            font-weight: bold; }

footer {
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #2e2a43;
  color: #f4f4f4; }
  footer .socialIcons {
    font-size: 2em;
    color: white; }
    footer .socialIcons .fa {
      padding: 0 5px 0 5px; }
    footer .socialIcons a {
      color: #f4f4f4;
      font-weight: bold; }
      footer .socialIcons a:hover {
        color: #B44031; }
  footer .copyright {
    text-align: center;
    margin: 20px auto 0; }
    footer .copyright .copyright-text {
      display: inline-block;
      vertical-align: top;
      padding: 10px; }

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden; }
  .loginmodal-container h1,
  .loginmodal-container h3 {
    text-align: center;
    margin: 0; }
  .loginmodal-container form {
    padding-top: 20px; }
    .loginmodal-container form input[type=submit] {
      width: 100%;
      display: block;
      background-color: #2e2a43;
      color: white;
      text-transform: uppercase;
      padding: 12px;
      margin-bottom: 10px;
      border: none;
      position: relative; }
      .loginmodal-container form input[type=submit]:hover {
        background-color: #443e62; }
    .loginmodal-container form input[type=text],
    .loginmodal-container form input[type=password] {
      width: 100%;
      padding: 10px;
      border-radius: none;
      margin-bottom: 10px; }

@media screen and (max-width: 990px) {
  header .right-menu nav {
    position: relative;
    float: right;
    z-index: 100; }
    header .right-menu nav #menuIcon {
      display: inline-block; }
    header .right-menu nav #menuContent {
      background-color: #B44031;
      display: none;
      padding: 0;
      position: absolute;
      top: 65px;
      right: 0; }
    header .right-menu nav ul li {
      min-width: 180px; }
      header .right-menu nav ul li a {
        padding: 20px 90px 20px 0; }
        header .right-menu nav ul li a:hover {
          color: #f4f4f4; }
      header .right-menu nav ul li:hover {
        background-color: #687c83; }
    header .right-menu nav:hover #menuIcon {
      background-color: #B44031; }
    header .right-menu nav:hover #menuContent {
      display: block; }
  header .right-menu .weather {
    border-left: none;
    border-right: 1px solid #393453;
    padding-left: 0;
    padding-right: 15px; }
  .boat {
    padding: 10px; }
    .boat .boat-image {
      width: 50%;
      padding-right: 10px; }
    .boat .boat-details {
      width: 50%; } }

@media screen and (max-width: 768px) {
  header .logo {
    width: 20px;
    display: inline-block;
    padding-top: 21px; }
  header .logo-text {
    font-size: 1em;
    padding-top: 22px; }
  .boat {
    padding: 20px; }
    .boat .boat-image {
      width: 100%;
      padding: 0 0 20px;
      float: none; }
    .boat .boat-details {
      width: 100%;
      float: none; } }

@media screen and (max-width: 477px) {
  header .right-menu .weather {
    padding-right: 10px; }
    header .right-menu .weather .icon {
      display: none; } }
