header {
	width: 100%;
	padding: 10px 0;
	

	.logo {
		width: 60px;
		height: 60px;
		display: inline-block;
	}

	.logo-text {
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
		padding: 15px 0 0 10px;
		margin: 0;
	}

	.logo-link {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	nav {
		display: inline-block;
		float: right;

		#menuIcon {
			display: none;
			font-size: 1.4em;
			padding: 19px;
		}

		ul {
			list-style: none;
			margin: 0;

			li {
				padding: 20px;
				display: inline-block;

				a {
					text-decoration: none;

					&:hover,
					&:active {
						text-decoration: none;
					}
				}

				&:hover {
				}
			}
		}
	}
}