@media screen and (max-width: 990px) {

	// --------------------------------------------------
	// Header Styles
	// --------------------------------------------------
	header {

		nav {
			position: relative;
			z-index: 100;

			#menuIcon {
				display: inline-block;
			}

			#menuContent {
				background-color: $color-link;
				display: none;
				padding: 0;
				position: absolute;
				top: 65px;
				right: 0;
			}

			ul {

				li {
					min-width: 180px;

					a {
						padding: 20px 90px 20px 0;

						&:hover {
							color: $color-background;
						}
					}

					&:hover {
						background-color: $color-bluegray;
					}
				}
			}

			&:hover {

				#menuIcon {
					background-color: $color-link;
				}

				#menuContent {
					display:block;
				}
			}
		}
	}



	// --------------------------------------------------
	// Boat Listing Styles
	// --------------------------------------------------
	.boat {
		padding: 10px;

		.boat-image {
			width: 50%;
			padding-right: 10px;
		}

		.boat-details {
			width: 50%;
		}
	}
}

@media screen and (max-width: 768px) {

	header {

		.logo {
			width: 20px;
		    display: inline-block;
		    padding-top: 21px;
		}

		.logo-text{
			font-size: 1em;
			padding-top: 22px;
		}
	}

	// --------------------------------------------------
	// Boat Listing Styles
	// --------------------------------------------------
	.boat {
		padding: 20px;

		.boat-image {
			width: 100%;
			padding: 0 0 20px;
			float: none;
		}

		.boat-details {
			width: 100%;
			float: none;
		}
	}

}