@media screen and (max-width: 990px) {

	// --------------------------------------------------
	// Header Styles
	// --------------------------------------------------
	header {

		nav {
			position: relative;
			z-index: 100;

			#menuIcon {
				display: inline-block;
			}

			#menuContent {
				display: none;
				padding: 0;
				position: absolute;
				top: 65px;
				right: 0;
			}

			ul {

				li {
					min-width: 180px;
					padding: 20px;
				}
			}

			&:hover {

				#menuIcon {
				}

				#menuContent {
					display:block;
				}
			}
		}
	}



	// --------------------------------------------------
	// Boat Listing Styles
	// --------------------------------------------------
	.boat {
		padding: 10px;

		.boat-image {
			width: 50%;
			padding-right: 10px;
		}

		.boat-details {
			width: 50%;
		}
	}
}

@media screen and (max-width: 768px) {

	// --------------------------------------------------
	// Boat Listing Styles
	// --------------------------------------------------
	.boat {
		padding: 20px;

		.boat-image {
			width: 100%;
			padding: 0 0 20px;
			float: none;
		}

		.boat-details {
			width: 100%;
			float: none;
		}
	}

}