// --------------------------------------------------
// Variables
// --------------------------------------------------
$color-background: 		#f4f4f4;
$color-purple:			#2e2a43;
$color-bluegray:		#687c83;
$color-tan:				#a69c83;
$color-tan-light:		#e7cf9f;
$color-link: 			#B44031;
$color-text: 			#333;
$color-text-light: 		#767676;

$border-radius-small: 3px;
$border-radius-large: 6px;



// --------------------------------------------------
// Mixins
// --------------------------------------------------
@mixin clearAfter() {
	content:"";
    display:table;
    clear:both;
}

@mixin displayInlineBlock() {
	display: inline-block;
	vertical-align: top;
}

@mixin boxShadow() {
	box-shadow: 1px 1px 3px rgba($color-background, .2);
}

@mixin borderRadius($border-radius) {
	-webkit-border-radiu: $border-radius;
	  -moz-border-radius: $border-radius;
		   border-radius: $border-radius;
}



// --------------------------------------------------
// Location Styles
// --------------------------------------------------
.location {
	margin-bottom: 40px;

	a{
		color: $color-link;
	}
}



// --------------------------------------------------
// Contact Styles
// --------------------------------------------------
.contact {
	margin-bottom: 40px;

	.contact-title {
		margin-bottom: -40px;
	}

	.form-all {
		width: 100% !important;
	}

	.form-line {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

