@import 'main';

.carousel{

	ol{
		list-style: none;
	}

	img{
		width: 100%;
	}
}

.container{
	.row{
		.callToAction{
			margin-top: -100px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 100px;
			height: 200px;
			width: 200px;
			border-radius: 50%;
		}

		.callToAction1{
			background-color: $color-purple;
		}

		.callToAction2{
			background-color: $color-link;
		}

		.callToAction3{
			background-color: $color-bluegray;
		}
	}

	.social{
		.socialIcons{
			margin-bottom: 10px;
			i{
				font-size: 3rem;
				padding: 0 10px;
			}
		}

		.blog{
			margin: 50px 0;
			height: 200px;
			&:nth-child(1){
				margin-top: 0;
			}
		}

		.twitterHere{
			height: 700px;
			background-color: #0084b4;
		}
	}
}