// --------------------------------------------------
// Variables
// --------------------------------------------------
$color-background:      #f4f4f4;
$color-purple:          #2e2a43;
$color-bluegray:        #687c83;
$color-tan:             #a69c83;
$color-tan-light:       #e7cf9f;
$color-link:            #B44031;
$color-text:            #333;
$color-text-light:      #767676;

$border-radius-small: 3px;
$border-radius-large: 6px;

body{
	background-color: $color-background;
}

.carousel{

	ol{
		list-style: none;
	}

	img{
		width: 100%;
	}
}

.container{
	.row{
		.callToAction{
			margin-top: -100px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 100px;
			height: 200px;
			width: 200px;
			border-radius: 50%;
			position: relative;

			a{

				h2{
					position: absolute;
					top: 40px;
					color: white;
					text-align: center;
					padding: 0 10px;
					font-weight: 700;
					font-size: 2.8rem;
				}
			}
		}

		.callToAction1{
			background-color: $color-purple;
		}

		.callToAction2{
			background-color: $color-link;
		}

		.callToAction3{
			background-color: $color-bluegray;
		}
	}

	.social{
		// .socialIcons{
		// 	margin-bottom: 10px;
		// 	i{
		// 		font-size: 3rem;
		// 		padding: 0 10px;

		// 		color: $color-link;
		// 	}
		// }

		.about{
			padding-right: 60px;
			margin-bottom: 60px;

			h2{
				color: $color-link;
			}
		}

		.twitterHere{
			height: auto;
			background-color: $color-purple;
			padding: 6px;
			border-radius: 10px;
			margin-bottom: 60px;
		}
	}

	.row{

		.allBlog{

			.blog{
				background-color: darken($color-background, 3%);
				margin-bottom: 20px;
				padding: 20px;
				padding-top: 5px;
			}

			margin-bottom: 60px;

			article{
				overflow: hidden;
			}

			a.readMore{
					color: $color-link;
				}

			h2{
				color: $color-link;
			}

			.about{
				color: $color-link;
			}
			h3{
				font-weight: 400;
			}
		}
	}
}

@media (max-width: 768px){
	.container{
		.row{
			.callToAction{
				margin-top: 20px;
				margin-bottom: 30px;
			}
		}

		.social{
			.twitterHere{
				margin: 0 10px;
				margin-bottom: 60px;
			}
		}
	}
}

@media (max-width: 990px){
	.container{
		.social{
			.about{
				margin-right: 0;
			}
		}
	}
}